@font-face {
  font-family: 'Kells Uncial';
  src: url('/assets/fonts/kellunc.woff2') format('woff2');
}

:root {
  --crest-blue: #0000bd;
  --crest-red: #e71800;
  --crest-gold: #ffc600;
}

h4,
h5,
h6,
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
  font-family: 'Kells Uncial', Georgia, 'Times New Roman', Times, serif;
}