@font-face {
  font-family: 'CAT Walzhari';
  src: url('/assets/fonts/catwalzhari-webfont.woff2') format('woff2'),
    url('/assets/fonts/catwalzhari-webfont.woff') format('woff');
}

:root,
:root:not([data-theme=dark]) {
  --crest-blue: #3a53a5;
  --crest-red: #e71800;
  --crest-gold: #ffc600;

  /* Tweaks */
  --pico-primary: var(--crest-blue);
  --pico-primary-hover: var(--crest-blue);
  --pico-border-radius: .5em;
  --pico-font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  >main {
    flex: 1;
  }
}

.display {
  font-size: 2em;
  font-family: 'CAT Walzhari', Georgia, 'Times New Roman', Times, serif;
  line-height: 1em;

  &.md {
    font-size: 2.5em;
  }

  &.lg {
    font-size: 3em;
  }
}

header>nav {
  @media (max-width: 680px) {
    gap: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    >ul:last-of-type {
      margin-right: 0;
    }
  }

  .brand {
    display: flex;
    align-items: center;
    gap: .25em;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.top-spacing {
  margin-bottom: 0;
}

.bottom-spacing {
  margin-bottom: 0;
}

img {
  display: block;
  object-fit: cover;

  &:not(.banner) {
    border-radius: var(--pico-border-radius);
  }
}

body>header {
  padding-block: 0;
  background: var(--pico-background-color);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  box-shadow: var(--pico-box-shadow);
}

body>main>.banner:first-child {
  margin-top: calc(var(--pico-block-spacing-vertical)*-1);
  margin-bottom: var(--pico-block-spacing-vertical);
}

body>footer {
  background: var(--pico-background-color);
}

.grid.two-thirds {
  @media(min-width:1024px) {
    grid-template-columns: repeat(3, minmax(0%, 1fr));

    &.right>:not(img) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    &.right>img {
      grid-column: 1;
    }

    &.left>:not(img) {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &.left>img {
      grid-row: 1;
      grid-column: 3;
    }
  }
}

.banner {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 50dvh;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(45deg, transparent, var(--crest-blue), transparent);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;

  &.fit {
    height: fit-content;
  }

  &.sm {
    height: 35dvh;
  }

  &.top {
    object-position: top;
  }

  &.bottom {
    object-position: bottom;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}